<mat-card>
    <mat-card-title>
        Confirmar exclusão do aluno
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
                    [value]="student.name"
                    name="name"
                    disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Matrícula"
                [value]="student.registration"
                name="registration"
                disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteStudent()" color="warn">
        Excluir
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>