.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer span {
    font-size: 1rem;
    font-weight: lighter;
}

.footer span i {
    font-size: 20px;
}